<div>
    <!-- <button class="nav-item nav-link" routerLink="/serpente"  routerLinkActive="active-menu" >serpente</button><br> -->
    <button class="nav-item nav-link" routerLink="/exeggutor"  routerLinkActive="active-menu" >exeggutor</button>
    <button class="nav-item nav-link" routerLink="/pikachu"  routerLinkActive="active-menu" >pikachu</button>
    <button class="nav-item nav-link" routerLink="/bulbasaur"  routerLinkActive="active-menu" >bulbasaur</button>
    <button class="nav-item nav-link" routerLink="/gengar"  routerLinkActive="active-menu" >gengar</button>
</div>

<router-outlet></router-outlet>